.DS_Store
node_modules/
__src/
src/assets/.DS_Store
run.bat
package.json
config.js
npm-debug.log
dist/favicon.ico
.brackets.json
npm-debug.log.*
dist/
.idea/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
config/config.js