<!DOCTYPE html>
<html lang="en" manifest="list.appcache">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-touch-full-screen" content="YES" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="凯子的博客">
    <meta name="author" content="http://keydone666.oschina.io/">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="凯子的博客">
    <title>凯子的博客</title>

    <!--[if IE]>
        <div style='text-align:center;height:100px;line-height:100px;font-size:24px;color:#fff;background:#111;'>您使用的浏览器已过时，请使用chrome或火狐浏览器查看</div>
    <![endif]-->
</head>

<body>
    <div id="mobile"></div>
    <script src="/static/iconfont.js"></script>
</body>

</html>