@import "mixins/reset";
//@import "./iconfont";
@mixin round($top, $bool:false) {
    @if $bool==rem {
        -webkit-border-radius: rem($top);
        -moz-border-radius: rem($top);
        border-radius: rem($top);
    }
    @else {
        -webkit-border-radius: $top;
        -moz-border-radius: $top;
        border-radius: $top;
    }
}
/* public */
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
::-moz-selection{background:#ddd;color:#32b16c;}
::selection{background:#ddd;color:#32b16c;}

/* 字体大小 */
.font-0{font-size:0;}
.font-14{font-size:14px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-22{font-size:22px;}
.font-24{font-size: 24px;}

/* 公共颜色 */
.bgwhite{background:#fff !important;}
.blue_dark{color: #42a0ff;}			//深蓝色
.blue_light{color:#56aaff;}			//浅蓝色
.yellow{color: #ffc108;}			//黄色
.warning{color: #f00;}				//红色警告
.c000{color: #000;}					//黑色
.c333{color: #333;}
.c666{color: #666;}
.c999{color: #999;}
.cfff{color: #fff;}

/* 公共class */
.commonWrap{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.inblock{display: inline-block;}
.show{display:block !important;}
.hide{display:none !important;}
.fontSun{font-family:Sim Sun !important;}
.fontYaHei{font-family:Microsoft YaHei !important;}
.fontArial{font-family: Arial !important;}
.table{width:100%;
    th{font-weight:normal;
        text-align: center;
    }
    td,th{padding: 10px;}
}
.clear:after{
    content:'';
    display:block;
    clear:both;
    height:0;
}
.clear{*zoom:1;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.pl{position:relative;}
.fixed{position:fixed;}
.fl{float: left;}
.fr{float: right;}
.verTop{vertical-align:top !important;}
//文字溢出隐藏,	显示省略号
.txtOverflow{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
input.warning{border-color:#f00 !important;}
pre{white-space:pre-wrap !important;}

/* 公共margin */
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop40{margin-top:40px;}
.padding10{padding:10px;}

// 灰色按钮
.btn_default{
    height:30px;
    line-height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border:1px solid #e5e5e5;
    background: #f5f5f5;
    color: #333;
    &:hover{
        background: #e5e5e5;
        text-decoration:none;
    }
}

/*
.layer, .layermask{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layer, .layermask{position: fixed;}
*/
.fade-enter-active, .fade-leave-active {
  transition:opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.table{
    /* 公共表格 */
    thead,tfoot,td{border: 1px solid #e5e5e5;}
    thead{background: #f8f8f8;}
}

#wrapper{
    min-height: 650px;
    padding-bottom: 150px;
    transition-duration: .2s;
    transform: translateX(-100px);
    opacity: 0;
    &.loaded{opacity:1;
        transform: translateX(0);
        #footer{opacity:1;}
    }
}

//header
#headerbar{
    line-height: 20px;
    background:#fff;
    border-bottom:1px solid #e7e7e7;
    .wrap{
        width:600px;
        margin:0 auto;
        position:relative;
    }
    .nav{
        li{display:inline-block;
            vertical-align:top;
            line-height:60px;
            margin-left:20px;
            margin-right:20px;
        }
        a{display:inline;
            padding-bottom:3px;
            border-bottom:3px solid transparent;
            font-size:16px;
            color:#34495e;
            &:hover{color:#333;
                text-decoration:none;
            }
            &.active{
                border-bottom: 3px solid #42b983;
            }
        }
    }

    .searchBox{
        height: 30px;
        border:1px solid #d6d6d6;
        border-radius: 7px;
        vertical-align:top;
        margin-top:14px;
        overflow: hidden;
        float:right;
        &.extend{
            .searchField{width:110px;}
            .icon-search{color:#32b16c;}
        }
        .searchField{
            height: 24px;
            line-height:24px;
            padding:3px 7px;
            width: 35px;
            transition-duration:.3s;
        }
        .icon-search{
            cursor:pointer;
            font-size: 22px;
            transition-duration:.3s;
            margin-right: 3px;
            position:relative;
            top:3px;
        }
    }
}

#sidebar{position:relative; z-index: 10001;
    &.active{
        .asidebg{left:0;}
        .asideMenu{
            transform:translateX(0);
        }
        .asideToggle{
            .line, &:before, &:after{width:20px;}
            .line{
                width:4px;
                z-index:1;
                left:22px;
                border-radius: 0;
                border-color: #32b16c;
            }
            &:before{top:22px; left:14px;
                transform:rotateZ(45deg);
            }
            &:after{top:22px; left:14px;
                transform:rotateZ(-45deg);
            }
        }
    }
    .asidebg{
        position:fixed;
        top:0;right:0;
        bottom:0;
        z-index:100;
        background:rgba(0,0,0,.2);
    }
    .asideMenu{
        position: fixed;
        top:0;left:0;bottom:0;right:0;
        z-index: 101; width: 140px;
        transform:translateX(-100%);
        transition-duration:.3s;
        min-height: 600px;
        background:#2a2a2a;
        padding-left: 50px;
        padding-right:50px;
        color: #fff;
    }
    .asideToggle{
        position: absolute;
        top:140px; right:-100px;
        width:50px; height:50px;
        border-radius: 50%;
        overflow: hidden;
        background:#32b16c;
        .line, &:before, &:after{
            position:absolute;
            left:15px;
            width:17px;
            height:3px;
            background:#32b16c;
            border:1px solid #fff;
            border-radius:4px;
            -webkit-transition-duration:.2s;
            -moz-transition-duration:.2s;
            transition-duration:.2s;
        }
        .line{top:22px;}
        &:before, &:after{content: '';}
        &:before{top:16px;}
        &:after{top:28px;}
    }
    .avatarBox{padding-top:100px;
        margin-bottom: 100px;
        .avatar{
            width: 100px;
            height: 100px;
            border-radius:50%;
            overflow: hidden;
            margin:0 auto;
        }
        img{display: block;
            border-radius:50%;
            width: 100%;
        }
        .userName{
            line-height: 24px;
            text-align: center;
            margin-top:10px;
            font-size:16px;
        }
    }
    .menuList{line-height: 40px;
        li{padding-left:20px;}
        a{display:inline-block;
            min-width: 80px;
            color: #fff;
        }
    }
    .icon{margin-right:5px;
        position:relative;top:3px;
        font-size: 24px;
    }
    .logstatus{
        display: block;
        margin:100px auto 0;
        padding-left: 20px;
        color: #fff;
    }
}

//footer
#footer{
    position:absolute;
    left:0;right:0;bottom:0;
    color: #fff;
    padding:40px;
    line-height:24px;
    text-align:center;
    background:#727f80;
    opacity:0;
}

//404
#notfound{
    width: 200px;
    height:400px;
    margin:100px auto;
    text-align:center;
    .icon{font-size:200px;}
    .missing{color:#666;}
}

//desk
#desk{
    padding:20px;
    max-width:750px;
    margin: 0 auto;
    /*transform-style: preserve-3d;
    perspective:1000px;*/
}

#articleList{
    li{position:relative;
        margin-bottom:30px;
        &:after{
            content:'';
            position:absolute;
            bottom:-10px;left:0;
            right:0;height:1px;
            background:#d6d6d6;
            box-shadow:0 1px 3px 0 rgba(0,0,0,.1);
            clear:both;
        }
        .title{
            height: 40px;
            line-height:40px;
            overflow: hidden;
            font-size:30px;
        }
        .number{
            float:left;
            width:6px;
            height:6px;
            margin:16px 15px 0 10px;
            border:1px solid #32b16c;
            border-radius:50%;
        }
        .icon{
            float:left;
            font-size:36px;
            margin-right:10px;
        }
        .icon-less, .icon-css{
            font-size:44px;
        }
        .icon-nodejs{
            font-size:94px;
            margin-top:-27px;
        }
        .about{
            color:#777;
            font-size:12px;
        }
        .summary{
            text-align:justify;
            margin-top: 10px;
            line-height:1.5;
        }
    }
    
}

#editor_article{
    width: 1080px;
    margin:20px auto;
}


#login{padding:70px 0 30px;
    .signTitle{
        text-align:center;
        line-height:60px;
    }
    .remark{
        max-width: 600px;
        margin: 100px auto 0;
        text-align:center;
        a{color: #42b983;}
    }
}

#signBox{
    width: 260px;		
    padding:20px;
    margin: 0 auto;
    background:#fafafa;
    border:1px solid #e7e7e7;
    border-radius:3px;
    .explain{color:#777;
        &.wrongfield{color:red;}
    }
    .inputBox{
        background:#fff;
        border:1px solid #e7e7e7;
        border-radius:3px;
        padding:7px;
        margin:7px 0;
    }
    input{
        height: 20px;
        line-height: 20px;
        font-size:14px;
    }
    .signBtn{
        display:block;
        height:40px;
        line-height:40px;
        text-align:center;
        background:#42b983;
        text-decoration:none;
        border-radius:3px;
        margin-top:20px;
        font-size:20px;
        color:#fff;
        &:hover{background:#25a56b;}
    }
}




